* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1882352941);
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: rgba(255, 255, 255, 0.1882352941);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-resizer {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #F8FAFD;
    background-size: 1920px 9454px;
    background-position-x: center;
    -webkit-animation: bg-blur 20s linear infinite;
            animation: bg-blur 20s linear infinite;
}

@-webkit-keyframes bg-blur {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -9454px;
    }
}

@keyframes bg-blur {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -9454px;
    }
}
a, button, textarea, input {
    outline: none;
    text-decoration: none;
}

.container {
    max-width: 1192px;
    width: 100%;
    padding: 0px 20px;
    margin: 0px auto;
}

.responsive-welcome,
.responsive-stats-team,
.responsive-benefits,
.responsive-plans,
.responsive-what-developing,
.responsive-book-a-call,
.responsive-reviews,
.responsive-faq,
.responsive-no-problem,
.responsive-team {
    margin-bottom: 104px !important;
}

.responsive-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.image-welcome {
    width: 100%;
    max-height: 537px;
    height: 100%;
}
.image-welcome > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 480px;
    -o-object-fit: contain;
       object-fit: contain;
}

.logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 260px;
    width: 100%;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.navigation {
    position: absolute;
    width: 100%;
    left: 0;
    pointer-events: none;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.navigation > ul {
    max-width: 554px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
}
.navigation > ul > li {
    pointer-events: all;
    padding: 0px 18px;
    margin-right: 4px;
}
.navigation > ul > li:last-child {
    margin-right: 0;
}
.navigation > ul > li > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #132239 !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.navigation > ul > li > .item:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.navigation-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navigation-action > .header-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 24px;
    height: 48px;
    color: #FFFFFF !important;
    border: none;
    border-radius: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background: linear-gradient(82.9deg, #0285FF 0%, #EA68FF 100%);
    -webkit-box-shadow: 0px 8px 38px -12px rgba(193, 230, 105, 0.16);
            box-shadow: 0px 8px 38px -12px rgba(193, 230, 105, 0.16);
}
.navigation-action > .header-btn:hover {
    -webkit-box-shadow: 0px 8px 38px -12px rgba(193, 230, 105, 0.36);
            box-shadow: 0px 8px 38px -12px rgba(193, 230, 105, 0.36);
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
}
.navigation-action > .defaul-type {
    margin-right: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #132239 !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.navigation-action > .defaul-type:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.navigation-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.responsive-header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 0;
    padding: 36px 0;
}
.responsive-header > .container {
    max-width: 100%;
    padding: 0 48px;
}
.responsive-header.fixed {
    background: rgba(248, 250, 253, 0.48);
    padding: 20px 0px;
    -webkit-backdrop-filter: blur(17px);
            backdrop-filter: blur(17px);
}

.welcome-details {
    position: relative;
}
.welcome-details > h1 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 74px;
    color: #052644;
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}
.welcome-details > p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: rgba(5, 38, 68, 0.8784313725);
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
}
.welcome-details::before {
    position: absolute;
    right: 36px;
    top: 180px;
    content: none;
    max-width: 166px;
    width: 100%;
    height: 184px;
    pointer-events: none;
    background: url(https://res.cloudinary.com/dufq88ie3/image/upload/v1657704968/Swiftle/arrow_bg1zdq.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.welcome-stats {
    margin-top: 64px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 172px 24px 172px;
    grid-template-columns: 172px 172px;
    grid-gap: 24px;
}
.welcome-stats > .item > h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #052644;
    margin-bottom: 16px;
}
.welcome-stats > .item > h1 > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4px;
    width: 32px;
    height: 32px;
}
.welcome-stats > .item > p {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #052644;
    margin-bottom: 4px;
}
.welcome-stats > .item > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.01em;
}

.welcome {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.welcome-logo-items {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.welcome-logo-items > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 24px;
}
.welcome-logo-items > .item:last-child {
    margin-right: 0;
}
.welcome-logo-items > .item > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.welcome-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.responsive-welcome {
    background: rgba(255, 255, 255, 0.4);
    margin: 0 48px;
    margin-top: 124px;
    -webkit-backdrop-filter: blur(34px);
            backdrop-filter: blur(34px);
    background: rgba(24, 66, 118, 0.24);
    border-radius: 48px;
    padding: 88px 0;
}

.stats-team {
    background: url(https://res.cloudinary.com/dufq88ie3/image/upload/v1660555291/Swiftle/Swiiftle%20ru/Frame_5073_xejwg5.webp) #B3E382;
    background-size: cover;
    border-radius: 24px;
    padding: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.stats-team > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 24px;
}
.stats-team > .item:last-child {
    margin-right: 0;
}
.stats-team > .item > h1 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    color: #071322;
    white-space: nowrap;
}
.stats-team > .item > p {
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #071322;
    word-break: break-word;
}

.action-welcome > .button-primary {
    max-width: 368px;
    width: 368px !important;
    height: 64px !important;
    border-radius: 14px;
}

.project-info-details {
    margin-top: 88px;
}
.project-info-details > p {
    max-width: 676px;
    width: 100%;
    margin: 0px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-top: 24px;
}

.project-details {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.project-details > .item {
    padding: 40px;
    background: rgba(24, 66, 118, 0.24);
    -webkit-box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
            box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border-radius: 24px;
}
.project-details > .item > .icon {
    width: 56px;
    height: 56px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
}
.project-details > .item > .icon > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.project-info > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.project-info > ul {
    padding-left: 18px;
    margin-bottom: 0;
}
.project-info > ul > .item {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #FFFFFF !important;
}
.project-info > ul > .item:last-child {
    margin-bottom: 0;
}

.action-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 48px;
}

.responsive-opportunities {
    background: -webkit-gradient(linear, left bottom, left top, from(#0C1C31), to(#0C1C31)), #F8FAFD;
    background: linear-gradient(0deg, #0C1C31, #0C1C31), #F8FAFD;
}

.opportunities-items {
    margin-top: 48px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.opportunities-items > .item {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: rgba(16, 38, 65, 0.96);
    -webkit-box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
            box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border-radius: 24px;
}
.opportunities-items > .item.active {
    background: linear-gradient(259.3deg, #358FFF 0%, #7CD4D2 22.88%, #C5E764 52.08%, #F7DD40 73.13%, #FFA320 100%);
    -webkit-box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
            box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
}
.opportunities-items > .item.active > .opportunities-info > h1 {
    color: #132239;
}
.opportunities-items > .item.active > .opportunities-info > p {
    color: #132239;
}
.opportunities-items > .item > .icon {
    margin-right: 24px;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
}
.opportunities-items > .item > .icon > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.opportunities-info > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.opportunities-info > p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.no-problem {
    width: 100%;
}
.no-problem > picture {
    width: 100%;
}
.no-problem > picture > source, .no-problem > picture img {
    width: 100%;
}

.responsive-plans {
    padding: 88px 0;
    background: rgba(255, 255, 255, 0.4);
    background-position: center;
    background-size: cover;
}

.plans > h1 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 74px;
    text-align: center;
    color: #052644;
    margin-bottom: 40px;
}

.plans-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.plans-items > .content-plan > .item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 32px;
    border-radius: 24px;
}
.plans-items > .content-plan > .item > h1 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.plans-items > .content-plan > .item .price-plan > span.price {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
}
.plans-items > .content-plan > .item .price-plan > span.time {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.plans-items > .content-plan.focus {
    color: #FFFFFF;
}
.plans-items > .content-plan.focus > .item {
    background: #0285FF;
    -webkit-box-shadow: 0px 44px 26px -18px rgba(2, 133, 255, 0.02), 0px 24px 36px -18px rgba(19, 34, 57, 0.02);
            box-shadow: 0px 44px 26px -18px rgba(2, 133, 255, 0.02), 0px 24px 36px -18px rgba(19, 34, 57, 0.02);
}
.plans-items > .content-plan.line {
    color: #132239;
    padding-top: 40px;
}
.plans-items > .content-plan.line > .item {
    background: rgba(255, 255, 255, 0.0392156863);
    border: 2px solid #0285FF;
    -webkit-box-shadow: 0px 44px 26px -18px rgba(2, 133, 255, 0.02), 0px 24px 36px -18px rgba(19, 34, 57, 0.02);
            box-shadow: 0px 44px 26px -18px rgba(2, 133, 255, 0.02), 0px 24px 36px -18px rgba(19, 34, 57, 0.02);
}
.plans-items > .content-plan > .installment-plan {
    cursor: pointer;
    width: 100%;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
    padding: 32px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 44px 26px -18px rgba(2, 133, 255, 0.02), 0px 24px 36px -18px rgba(19, 34, 57, 0.02);
            box-shadow: 0px 44px 26px -18px rgba(2, 133, 255, 0.02), 0px 24px 36px -18px rgba(19, 34, 57, 0.02);
    border-radius: 24px;
}
.plans-items > .content-plan > .installment-plan > .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.plans-items > .content-plan > .installment-plan > .details > .title {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #132239;
    margin-bottom: 8px;
}
.plans-items > .content-plan > .installment-plan > .details > .price {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    color: #132239;
}
.plans-items > .content-plan > .installment-plan > .details > .price > .discount {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #9FA6B1;
}
.plans-items > .content-plan > .installment-plan > .arrow-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 56px;
    height: 56px;
    border: none;
    background: none;
}

.benefits-plan {
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.benefits-plan > .item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 18px;
}
.benefits-plan > .item.off {
    opacity: 0.2;
}
.benefits-plan > .item:last-child {
    margin-bottom: 0;
}
.benefits-plan > .item > span {
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.benefits-plan > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.plan-space {
    width: 100%;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(248, 250, 253, 0)), color-stop(50.19%, rgba(248, 250, 253, 0.13)), to(rgba(248, 250, 253, 0)));
    background: linear-gradient(90deg, rgba(248, 250, 253, 0) 0%, rgba(248, 250, 253, 0.13) 50.19%, rgba(248, 250, 253, 0) 100%);
    margin: 32px 0px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
}

.lmtWIHO_gkbTeeyuvoJC.mOUYF5ZmuNL6I7t0mSFg {
    background: rgba(255, 255, 255, 0) !important;
}

.responsive-book-a-call {
    margin: 0 48px;
    background: url(https://res.cloudinary.com/dufq88ie3/image/upload/v1660478573/Swiftle/Swiiftle%20ru/Frame_33571_ndtjcj.jpg) #F9FAFC;
    background-position: center;
    background-size: cover;
    border-radius: 48px;
    padding: 88px 0;
}
.responsive-book-a-call .book-a-call > h2 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 74px;
    text-align: center;
    color: #071322;
}

.team-items {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    grid-gap: 8px;
    margin-top: 48px;
}
.team-items > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px;
    background: rgba(24, 66, 118, 0.24);
    -webkit-box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
            box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
    border-radius: 24px;
}

.team > h2 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
}
.team > h2 > span {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    background: -webkit-gradient(linear, right top, left top, from(#358FFF), color-stop(25.06%, #7CD4D2), color-stop(50.27%, #C5E764), color-stop(75.89%, #F7DD40), to(#FFA320));
    background: linear-gradient(270deg, #358FFF 0%, #7CD4D2 25.06%, #C5E764 50.27%, #F7DD40 75.89%, #FFA320 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.user-details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.user-details > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
}

.details-user-info > h2 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.details-user-info > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.56);
}

.image-team-user {
    margin-bottom: 16px;
    width: 136px;
    height: 136px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.image-team-user > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 100px;
}

.tech-experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
}
.tech-experience > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 24px;
}
.tech-experience > .item:last-child {
    margin-right: 0;
}
.tech-experience > .item > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.get-started {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.get-started > .button-primary {
    margin-top: 24px;
}
.get-started > p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.get-started > h1 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
}
.get-started > span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.image-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 220px;
    width: 100%;
    position: relative;
}
.image-review > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.review-details {
    padding: 48px;
    padding-top: 64px;
}
.review-details > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.review-details > span {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.reviews-items {
    display: -ms-grid;
    display: grid;
    grid-gap: 24px;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 44px;
}
.reviews-items > .item {
    background: rgba(24, 66, 118, 0.24);
    -webkit-box-shadow: 0px 24px 36px -18px rgba(19, 34, 57, 0.14);
            box-shadow: 0px 24px 36px -18px rgba(19, 34, 57, 0.14);
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
    border-radius: 24px;
    overflow: hidden;
}

.faq-items {
    max-width: 760px;
    width: 100%;
    margin: 0px auto;
    margin-top: 48px;
}
.faq-items > .item {
    padding: 32px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}
.faq-items > .item.active > .head-faq > p {
    color: #0285FF;
}
.faq-items > .item.active::before {
    opacity: 1;
}
.faq-items > .item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
    pointer-events: none;
}

.head-faq {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}
.head-faq > p {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #052644;
}

.body-faq {
    display: none;
    margin-top: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.body-faq > p {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #052644 !important;
}
.body-faq > p a {
    font-weight: 700;
    color: #052644 !important;
}
.body-faq > p a:hover {
    text-decoration: underline;
}

.reserve-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.reserve-call > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.responsive-footer {
    overflow: hidden;
}

.top-footer {
    padding: 124px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 24, 41, 0.8)), to(#0A1829)), url(http://drive.google.com/uc?export=download&confirm=no_antivirus&id=1c61WNJKXuJf2qyEJ4QsTdMa63n-m5iEs), #0A1829;
    background: linear-gradient(180deg, rgba(10, 24, 41, 0.8) 0%, #0A1829 100%), url(http://drive.google.com/uc?export=download&confirm=no_antivirus&id=1c61WNJKXuJf2qyEJ4QsTdMa63n-m5iEs), #0A1829;
    background-size: 480px;
}

.info-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.info-social > p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
}

.social-links {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.social-links > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 16px;
}
.social-links > .item:last-child {
    margin-right: 0;
}
.social-links > .item > img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.bottom-footer {
    padding: 24px 0;
    background: #0C2037;
}

.brochure-style-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
    gap: 24px;
    max-width: 368px;
    width: 100%;
    background: #102641 !important;
    border-radius: 24px;
}
.brochure-style-modal > .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.brochure-style-modal > .img-box > img {
    width: 100%;
}
.brochure-style-modal > .header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
}
.brochure-style-modal > .header-text > h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.brochure-style-modal > .header-text > p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.4);
}
.brochure-style-modal > form {
    gap: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.brochure-style-modal > form > .button-primary {
    width: 100%;
    max-width: 100%;
}
.brochure-style-modal > form > .items-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 8px;
}
.brochure-style-modal > form > .items-input input {
    width: 100%;
}

.responsive-cases-header {
    background: url(https://res.cloudinary.com/dufq88ie3/image/upload/v1658320785/Swiftle/Ru%20lending/source/img/image_112_vurysx.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.responsive-cases-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px !important;
}
.responsive-cases-header-content > h1 {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.responsive-cases-header-content > p {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -0.01em;
}

.responsive-cases-content {
    padding-top: 0 !important;
}

.cases-items {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 24px;
}
.cases-items > .case-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(24, 66, 118, 0.24);
    border-radius: 24px;
    overflow: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
            box-shadow: 0px 44px 66px -18px rgba(2, 133, 255, 0.08), 0px 24px 36px -18px rgba(19, 34, 57, 0.04);
}
.cases-items > .case-item:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
}
.cases-items > .case-item > .img-box {
    width: 100%;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cases-items > .case-item > .img-box > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.cases-items > .case-item > .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px;
}
.cases-items > .case-item > .info > h1 {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.cases-items > .case-item > .info > p {
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);
}
.cases-items > .case-item > .info > p.time::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 7.5H2.25M12 1.5V4.5M6 1.5V4.5M5.85 16.5H12.15C13.4101 16.5 14.0402 16.5 14.5215 16.2548C14.9448 16.039 15.289 15.6948 15.5048 15.2715C15.75 14.7902 15.75 14.1601 15.75 12.9V6.6C15.75 5.33988 15.75 4.70982 15.5048 4.22852C15.289 3.80516 14.9448 3.46095 14.5215 3.24524C14.0402 3 13.4101 3 12.15 3H5.85C4.58988 3 3.95982 3 3.47852 3.24524C3.05516 3.46095 2.71095 3.80516 2.49524 4.22852C2.25 4.70982 2.25 5.33988 2.25 6.6V12.9C2.25 14.1601 2.25 14.7902 2.49524 15.2715C2.71095 15.6948 3.05516 16.039 3.47852 16.2548C3.95982 16.5 4.58988 16.5 5.85 16.5Z' stroke='white' stroke-opacity='0.6' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 18px;
    height: 18px;
}
.cases-items > .case-item > .info > a {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF !important;
}
.cases-items > .case-item > .info > a:hover {
    -webkit-text-decoration-line: underline !important;
            text-decoration-line: underline !important;
}

.ease-steps > h2 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    color: #FFFFFF;
}

.steps-idea-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 466px;
    grid-template-columns: 1fr 466px;
    grid-gap: 24px;
}

.idea-live {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 56px;
    border-radius: 24px;
    background: url(https://res.cloudinary.com/dufq88ie3/image/upload/v1659441367/Swiftle/Swiiftle%20ru/Frame_5072_u4edgz.jpg);
    background-position: center;
    background-size: cover;
}
.idea-live > h3 {
    width: 100%;
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    color: #071322;
    margin-bottom: 24px;
}
.idea-live > p {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #071321;
    margin-bottom: 24px;
}

.steps-items {
    margin-top: 64px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 172px 24px 172px 24px 172px;
    grid-template-columns: 172px 172px 172px;
    grid-gap: 24px;
}
.steps-items > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.steps-items > .item > .top-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.steps-items > .item > h3 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 24px 0 16px;
}
.steps-items > .item > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.56);
}

.responsive-what-developing {
    margin: 0 48px;
    background: linear-gradient(70.78deg, #0285FF 0%, #A6D4FF 100%);
    border-radius: 48px;
    padding: 88px 0;
}

.what-developing > h2 {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 74px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.items-developing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.items-developing > .item {
    background: #fff;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.items-developing > .item > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.items-developing > .item > .list > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #132239;
    margin-bottom: 16px;
}
.items-developing > .item > .list > p:last-child {
    margin-bottom: 0;
}
.items-developing > .item > .list > p span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0285FF;
}
.items-developing > .item > .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px;
}
.items-developing > .item > .top > .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}
.items-developing > .item > .top > .details > .title {
    font-family: "MB Grotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #071322;
    margin-bottom: 8px;
}
.items-developing > .item > .top > .details > .cases {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #0285FF;
}